@use "./index.scss";

.App {
  display: grid;
  grid-template-rows: 1fr;
  overflow-y: scroll;
}

.component {
  margin-inline: 3rem;
  @media only screen and (min-width: 1200px) {
    margin-inline: index.$margin-desktop;
  }
  padding-top: 3rem;
  grid-row: 2 / 3;
  overflow-x: hidden;
}
