.login-component {
  justify-content: center;
}

.login-form {
  border: solid 2px lightgray;
  max-width: 22rem;
  justify-content: center;
  padding: 2rem;
  border-radius: 10px;
}

input {
  max-width: 18rem;
}

button {
  max-width: 10rem;
}
