.recipe-scroll-container-component {
  padding: 1rem;
  align-items: flex-start;
}

.recipe-card-wrapper {
  border: solid 2px green;
  border-radius: 10px;
  padding: 1rem;
}

.recipe-card {
  gap: 0;
  align-items: flex-start;
}
