.recipe-scroll-container-component {
  padding: 1rem 0 1rem 0;
}

.recipes-list {
  // height: auto;
  --spacer: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 18rem;
  gap: var(--spacer);
  padding: 0.5rem 0;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;

  > * {
    scroll-snap-align: start;
  }
}

.recipe-card {
  gap: 0;
  align-items: flex-end;
  min-height: 12rem;
  min-width: 15rem;
  border-radius: 10px;
  padding: var(--spacer);
}

.recipe-title {
  color: white;
}
