.recipe-scroll-container-component {
  padding: 1rem 0 1rem 0;
  align-items: flex-start;
}

.recipes-list {
  // height: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 12rem;
  gap: 1rem;
  overflow-x: auto;
  padding: 0.5rem;
}

.recipe-card-wrapper {
  outline: solid 2px green;
  border-radius: 10px;
  // padding: 1rem;
}

.recipe-card {
  gap: 0;
  align-items: flex-start;
  min-height: 8rem;
}

.recipes-list > * {
  min-width: 10rem;
}
