.user-profile-component {
  outline: solid 1px green;
  align-items: center;
  justify-content: center;
}

.user-info-wrapper {
  justify-content: center;
  align-items: center;
  height: 90%;
}

.user-info-component {
  outline: solid 2px lightgray;
  justify-content: center;
  width: 18rem;
  padding: 2rem;
}
